<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='page1.css')}}"">
</head>
<body>
	<div class="abc">
<h1 align="center">ONLINE WALLET</h1>
</div>
<br><br><br>
<div class="container">
<a href="/addmoney"><button type="button" class="btn">Add Money</button></a><br><br>
<a href="/recharge"><button type="button" class="btn">Mobile Recharge</button></a><br><br>

<button type="button" class="btn">Accept payment</button>
<br>
<br>
<a href="/pay"><button type="button" class="btn">Pay</button></a><br><br>
<a href="/passbook"><button type="button" class="btn">Passbook</button></a><br><br>

</div>
</body>
</html>