 <html>
 <head>
  <title></title>
  <link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='login.css')}}">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>
<body>
      

  <div class="split left">
    <img src="{{url_for('static',filename='img/top.png')}}" alt="Logo" height="100px" width="100px">
    <div class="centered_l">
         <img src="{{url_for('static',filename='img/recharge.png')}}" alt="Logo" height="500px" width="500px">
    </div>   
  </div>

  <div class="split right">

    <div class="centered_r">
      <h1>Mobile Recharge</h1>



      <!-- <h1>MOBILE RECHARGE</h1><br>
	<form action="rechar" method="POST">
	<div class="container">
	<label for="mobile_no"><b>Mobile number</b></label><br>
    <input type="number" placeholder="Enter mobile number" name="mobile_no" required><br>
	 <label for="amt"><b>Amount</b></label><br>
    <input type="number" placeholder="Enter amount" name="amt" required><br>
    <select>
			<option value="Airtel">Airtel</option>
			<option value="Vodafone">Vodafone</option>
			<option value="Aircel">Aircel</option>
			<option value="Idea">Idea</option>
	</select><br>
	<a href="/recharge1"><button type="submit">Submit</button></a>
</div>
</div>
</div>
</form>-->
      <form action="/rechar" method="POST">
        <div class="container">
         

          <label for="mobile_no"><b>Phone No.</b></label>
          <input type="text" placeholder="Enter Phone No." name="mobile_no" required>

			<label for="amt"><b>Amount</b></label><br>
    		<input type="text" placeholder="Enter amount" name="amt" required>


    		
    		<select>
				<option value="Airtel">Airtel</option>
				<option value="Vodafone">Vodafone</option>
				<option value="Aircel">Aircel</option>
				<option value="Idea">Idea</option>
			</select><br>
		<button type="submit">Submit</button>

          
          </div>
           
      </div>   
      </div>


    </form>
  </body>
  </html>
